gunicorn
flask
flask-cors
sqlalchemy
requests
psycopg2-binary
python-dotenv
flask-bcrypt
flask-jwt-extended
yfinance
pyjwt
pandas
git+https://github.com/druzsan/justetf-scraping.git
websockets
cryptography
